.container {
    background-color: white;
}

.carroussel-wrapper{
    padding: 10px;
}

.carroussel-secao{
    flex: 1;
    width: 400px;
    position: relative;
}

.carroussel-title{
    color: pink;
}

.prev {
    left: -20px;
}

.next {
    right: -20px;
}

.next,
.prev{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 24px;
    background-color: pink;
    border: none;;
    direction: flex;
    align-items: center;
}
